.wrapper {
  background-color: #2e40a1;
  opacity: 0.8;
  z-index: 0;
  ul {
    list-style: none;
    font-family: Roboto;
    font-size: 14pt;

    justify-content: center;
    text-align: center;

    li {
      color: white;
      padding: 14px;

      &:hover {
        cursor: pointer;
        background: silver;
        color: black;
      }
    }
  }
}