.header {
  max-width: 1600px;
  padding-top: 10px;
  width: 100%;
  height: 100%;


  h1 {
    position: absolute;
    left: 50px;
  }

  .navDesk {
    display: flex;
    position: absolute;
    right: 50px;

    .navMob {
      padding-left: 6px;

      &:hover {
        color: chocolate;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  .wrapper {
    background-color: #222222;
    margin-top: 50px;
    @media screen and (min-width: 550px){
      display: none;
    }

    ul {
      li {
        color: wheat;
        padding: 5px;
        text-align: center;
        display: block;
        &:hover{
          color: chocolate;
          cursor: pointer;

        }
      }
    }
  }

  .menu {
    display: none;
    position: absolute;
    right: 50px;
    @media screen and (max-width: 550px) {
      display: block;
      cursor: pointer;
      &:hover {
        color: chocolate;
      }
    }
  }
}